@media (max-width:900px) {
  .text{
    padding-top: 15px ;
  }
  h1{
    font-size: 25px;
  }
  .zombie-img img{
    width: 250px;
  }

  #opponent-choice{
    width: 150px;
    height: 150px;
  }

  #your-choice{
    width: 150px;
    height: 150px;
  }

  #choices{
    margin-top: 20px;
  }
}

